<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto justify-content-center text-green nav-border">
        
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-green mr-4" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-green mr-4" href="{% url 'wishlist:view_wishlist' %}" id="wishlist-link">
                My Wishlist
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-green mr-4" href="{% url 'products' %}" id="products-link">
                All Products
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-green mr-4" href="#" id="CBD-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                CBD
            </a>
            <div class="dropdown-menu border-green" aria-labelledby="CBD-link">
                <a href="{% url 'products' %}?category=cbd_extracts" class="dropdown-item text-green">CBD Extracts</a>
                <a href="{% url 'products' %}?category=cbd_food" class="dropdown-item text-green">CBD Food</a>
                <a href="{% url 'products' %}?category=cbd_extracts,cbd_food" class="dropdown-item text-green">All CBD Products</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-green mr-4" href="{% url 'products' %}?category=cbc" id="CBC-link">
                CBC
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-green mr-4" href="{% url 'products' %}?category=cbg" id="CBG-link">
                CBG
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-green mr-4" href="{% url 'products' %}?category=shilajit" id="shilajit-link">
                Shilajit
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-green mr-4" href="{% url 'contact' %}" id="contact-link">
                Contact
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-green mr-4" href="{% url 'news' %}" id="news-link">
                News
            </a>
        </li>
    </ul>
</div>
{% if request.user.is_authenticated %}
    <div class="list-inline-item nav-border welcome-message small d-none d-lg-block">
        <a class="text-green font-weight-bold nav-link" href="{% url 'wishlist:view_wishlist' %}">
            <div class="text-center">
                <div><i class="fas fa-smile fa-lg p-0"></i></div>
                <p class="my-0 font-weight-bold">Welcome, {{ user }}!</p>
                <p class="my-0">
                    My Wishlist
                <span class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
                </p>
            </div>
        </a>
    </div>
{% endif %}
